* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 30px;
    font-family: $main-font;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: $very-light-gray;
}