@media screen and (min-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 350px);
       
    }
    main {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0px;
    }

    .card {
        max-width: 350px;
    }

    .main-title {
        padding-bottom: 0;

        p {
            width: 49%;
            margin: 0 auto;
        }

        .header-1 {
            font-size: 2em;
        }

        .header-2 {
            font-size: 2em;
        }
    }
}