@media screen and (min-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 315px);
       
    }
    main {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 0px;
    }

    .main-title {
        p {
            width: 60%;
            margin: 0 auto;
        }

        .header-1 {
            font-size: 2em;
        }

        .header-2 {
            font-size: 2em;
        }
    }
}