.main-title {
    text-align: center;
    padding: 50px 0;

    .header-1 {
        font-weight: 200;
        font-size: 25px;
    }

    .header-2 {
        font-size: 25px;
        color: $very-dark-blue;
        padding-bottom: 15px;
    }

    p {
        font-size: 1em;
        color: $grayish-blue;
    }
}